<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Szooopi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<h1 th:text="${message.title}">Tytuł wiadomości</h1>
<p th:text="${message.content}">Treść wiadomości</p>
<a href="#" th:href="@{/lista/${list.id}}" class="button">Powrót do listy</a>
<a href="#" th:href="@{/}" class="button">Powrót do strony głównej</a>
</body>
</html>